# Byte-compiled / temporary files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.venv/
venv/
ENV/
env.bak/
env/

# VS Code
.vscode/

# MacOS
.DS_Store
